:root{
    --min-screen-height: 1000px;
    
  --border-color: gray;
  --border: solid 0.1em var(--border-color);
  --proceed-color: rgb(81, 142, 132);
  --point-color: rgb(54, 69, 79);
  --section-divider-color: rgba(115, 136, 181, 0.35);

  --panel-border-thickness: 0.05em;
  --panel-color: white;

  --sm-font-size: 0.95em;
  --sm-med-font-size: 1.1em;
}
.App{
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: 2.75rem 3fr;
    grid-template-areas: 
    "nav nav"
    "leftSideBar content";
    gap: 0.75rem 0.4rem;
}
.navigation {
    grid-area: nav;
    display: flex;
    justify-content:space-between;
    padding: 5px 10px;
}
.leftSideBar {
    min-height: var(--min-screen-height);
    grid-area: leftSideBar;
}
.content {
    min-height: var(--min-screen-height);
    grid-area: content;  
}
ul{
    list-style-type: none;
}
.modal-menu {
    position: fixed;
    min-width: 550px;
    left: 50%;
    top: 4.5em;
    transform: translate(-50%);
    border: var(--border);
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    padding: 1em 1em 1em 1em;
    z-index: 1000;
  }
  .screen-root-container {
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 2em;
    border: var(--border);
    border-radius: 0.3em;
  }
  
/* media quaries*/
@media screen and (orientation: portrait) and (max-width: 768px) {
    .App {
        grid-template-columns: 1fr;
        grid-template-areas:
          "nav"
          "content";
      }
      .modal-menu {
        min-width: 60px;
        left: 0.5em;
        right: 0.5em;
        top: 3.5em;
        transform: translate(0%);
      }
}